---
import { type CollectionEntry, getCollection, render } from "astro:content";
import MainLayout from "~/layouts/MainLayout.astro";
import { components } from "@/ContentComponents.astro";

export type Props = {
    docs: CollectionEntry<"docs">;
};

export async function getStaticPaths() {
    const docs = await getCollection("docs");
    return docs.map((docs) => ({
        params: { slug: docs.data.slug },
        props: { docs },
    }));
}

const { docs } = Astro.props;
const { data } = docs;
const { Content } = await render(docs);
---

<MainLayout title={`${data.title} - The House App`}>
    <div class="docs">
        <div class="header">
            <h1>{data.title}</h1>
            <div class="description">{data.description}</div>
        </div>
        <hr />
        <div class="content">
            <Content components={components} />
        </div>
    </div>
</MainLayout>

<style lang="scss">
    .docs {
        width: 80vw;

        .header {
            margin-bottom: 1rem;
            text-align: left;

            .description {
                color: var(--subtext-0);
            }
        }
    }

    hr {
        width: 100%;
    }
</style>
