@import "lib/colors";
@import "lib/housecolors";

h1, h2, h3, h4, h5, h6, p, .link, label {
  color: $text;
}

:global(html), :global(body) {
  background-color: $main-background !important;
  font-family: 'Inter', sans-serif;
  cursor: default;
  overflow: hidden;
}

.scrollable {
  overflow: scroll;
  max-height: 98vh;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
  padding: 8px;
  font-size: 0.9rem;
  border: 1px solid $background-tertiary;
  border-radius: 10px;
  color: $text;
  background: $background-secondary;
}

.all {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}