---
import { Image } from "astro:assets";
import IconLight from "@assets/icons/light/icon.png";
---

<footer class="footer">
    <div class="footer-left">
        <div class="footer-info">
            <Image
                src={IconLight}
                alt="The House App Logo"
                title="The House App"
                width="64"
                height="64"
                class="footer-logo"
            />
            <div class="footer-text">
                <strong>OrigamiKing3612</strong><br />
                &copy; 2024-{new Date().getFullYear()} The House App. All rights reserved.
            </div>
        </div>
    </div>

    <div class="footer-right">
        <div class="footer-columns">
            <div>
                <h4>The House App</h4>
                <a href="/">Home</a>
                <a href="/terms">Terms</a>
                <a href="/privacy">Privacy</a>
                <a href="/blog">Blog</a>
            </div>
            <div>
                <h4>Support</h4>
                <!-- <a href="/about">About</a> -->
                <a href="https://status.origamisystems.org" target="_blank">
                    Status
                </a>
                <a href="/docs">Docs</a>
                <a href="/faq">FAQ</a>
            </div>
        </div>
    </div>
</footer>

<style lang="scss">
    .footer {
        margin-top: 6.5rem;
        padding: 2rem;
        border-top: var(--divider-thin);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;
        margin-bottom: -35px;
        transition: var(--transitions);

        .footer-left {
            margin-bottom: 1rem;

            .footer-info {
                display: flex;
                align-items: center;

                .footer-logo {
                    border-radius: 0.5rem;
                    margin-right: 1rem;
                    user-select: none;
                }

                .footer-text a {
                    text-decoration: none;
                }
            }
        }

        .footer-right {
            .footer-columns {
                display: flex;
                flex-direction: row;
                gap: 5rem;
                text-align: left;

                h4 {
                    font-weight: bold;
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                    user-select: none;
                }

                a {
                    display: block;
                    color: var(--text-1);
                    font-size: 0.9rem;
                    text-decoration: none;
                    margin: 0.25rem 0;
                    transition: color 0.2s ease;

                    &:hover {
                        color: var(--accent);
                    }
                }
            }
        }
    }

    .link {
        color: var(--accent);
        font-weight: bold;
    }

    @media (max-width: 650px) {
        .footer {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
        }

        .footer-left {
            width: 100%;
            order: 2;
            margin-bottom: 0;

            .footer-info {
                justify-content: center;
                text-align: left;

                .footer-logo {
                    margin-right: 0.5rem;
                }

                .footer-text {
                    font-size: 0.85rem;
                    word-wrap: wrap;
                    word-spacing: normal;
                    word-break: normal;
                }
            }
        }

        .footer-right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
            order: 1;
            width: 100%;

            .footer-columns {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                gap: 0.5rem;
                width: 100%;

                h4 {
                    font-size: 1rem;
                }

                a {
                    font-size: 0.9rem;
                    padding: 0.25rem 0;
                }
            }
        }
    }
</style>
