---
import { Image } from "astro:assets";
import { TitleBar, SidebarItem } from "@origami-systems/ui";
import LocalSwitchThemes from "./LocalSwitchThemes.vue";
import TitleBarItem from "./TitleBarItem.astro";
import faviconDark from "../assets/icons/dark/favicon.svg";
import faviconLight from "../assets/icons/light/favicon.svg";
---

<header>
    <TitleBar>
        <div slot="icon">
            <a href="/">
                <Image
                    src={faviconDark}
                    alt="The House App Logo"
                    class="icon icon-dark"
                    width="30"
                />
                <Image
                    src={faviconLight}
                    alt="The House App Logo"
                    class="icon icon-light"
                    width="30"
                />
            </a>
        </div>
        <div slot="tabs" class="ignore-div">
            <TitleBarItem href="/" data-astro-prefetch>Home</TitleBarItem>
            <TitleBarItem href="/bugs-tracker" data-astro-prefetch
                >Bugs</TitleBarItem
            >
            <TitleBarItem href="/blog" data-astro-prefetch>Blog</TitleBarItem>
            <TitleBarItem href="/contact" data-astro-prefetch
                >Contact</TitleBarItem
            >
        </div>
        <div slot="right-side">
            <LocalSwitchThemes client:only="vue" />
        </div>
        <div slot="sidebar-items"></div>
    </TitleBar>
</header>
<style>
    .icon {
        user-select: none;
    }
    .icon-dark {
        display: none;
    }

    :global(html.dark) .icon-light {
        display: none;
    }

    :global(html.dark) .icon-dark {
        display: inline;
    }
</style>
