name: Build site
on:
    pull_request:
    workflow_dispatch:
permissions:
    contents: read
    pages: write
    packages: read
    id-token: write
concurrency:
    group: "pages"
    cancel-in-progress: false
jobs:
    # typecheck: # can't typecheck because the typechecker doesn't know optional vue props
    #     runs-on: ubuntu-latest
    #     steps:
    #         - name: Checkout repository
    #           uses: actions/checkout@v5
    #         - name: Enable corepack
    #           run: corepack enable
    #         - name: Setup node
    #           uses: actions/setup-node@v4
    #           with:
    #               node-version: 25
    #               cache: "pnpm"
    #         - run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.ORIGAMI_SYSTEMS_PACKAGES }}" >> .npmrc
    #         - run: pnpm install
    #         - run: pnpm typecheck
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Enable corepack
              run: corepack enable
            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 25
                  cache: "pnpm"
            - run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.ORIGAMI_SYSTEMS_PACKAGES }}" >> .npmrc
            - run: pnpm install
            - run: pnpm build
